<h1>{{ title }}</h1>

<ul>
  <li><a href="/lamp">Lamp</a></li>
  <li><a href="/vent">Ventilator</a></li>
  <li><a href="/ws">Plant watering system</a></li>
</ul>

<!--
{{# if condition }}
  condition is not met
{{ else }}
  condition is not met
{{/if}}

{{# each anyArray}}
    <p> {{this}} </p>
{{/each}}
-->