<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<h1>{{ title }}</h1>
<!-- tam kad veiktu sitas if cond reikia uzregistruoti handlebars helper (app.js faile)   -->
{{#ifCond state '==' 1 }}
lamp is on
{{ else }}
lamp is OFF
{{/ifCond}}
<br>
<button type="button" id="btnON">On</button><br>
<button type="button" id="btnOFF">Off</button><br>
<p> {{ error }}</p>

<script>
    $(document).ready(function () 
    {

        $('#btnON').on('click', function () {
            TurnOn()
        })

        $('#btnOFF').on('click', function () {
            TurnOff()
        })


        function TurnOn() {
           
            var data = {
                lamp: 1
            };

            $.ajax({
                type: 'POST',
                dataType: "text",
                url: 'http://192.168.1.15:85',
                data: JSON.stringify(data),
                success: function (resp) {
                    location.reload();
                },
                error: function (request, status, error) {
                alert(error);
                }
            });
        }

        function TurnOff() 
        {
            var data = {
                lamp: 0
            };

            $.ajax({
                type: 'POST',
                dataType: "text",
                url: 'http://192.168.1.15:85',
                data: JSON.stringify(data),
                success: function (resp) {
                    location.reload();
                },
                error: function (request, status, error) {
                alert(error);
                }
            });

        }
    });

</script>