<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<h1>{{ title }}</h1>

<div id="pumpState">

</div>

<div id="moist">

</div>

<br>
<button type="button" id="btnON">On</button><br>
<button type="button" id="btnOFF">Off</button><br>

<script>
    $(document).ready(function () {
        // GET STUFF FROM SERVER ****************
        getState();
        getMoisture();

        function getState() {
            $.ajax({
                type: 'GET',
                dataType: "json",
                url: 'http://192.168.1.15:85/?pump',
                success: function (resp) {
                    var state = resp.state;
                    changeStateHtml(state);
                },
                error: function (request, status, error) {
                    alert(error);
                }
            });
        }

        function getMoisture() {
            $.ajax({
                type: 'GET',
                dataType: "json",
                url: 'http://192.168.1.15:85/?moist',
                success: function (resp) {
                    html = "<p> soil moisture is : " + resp.moist + " </p>"
                    $('#moist').html(html);
                },
                error: function (request, status, error) {
                    alert(error);
                }
            });
        }

        // *****************************************************

        $('#btnON').on('click', function () {
            TurnOn()
        })

        $('#btnOFF').on('click', function () {
            TurnOff()
        })


        function TurnOn() {

            var data = {
                pump: 1
            };

            $.ajax({
                type: 'POST',
                dataType: "text",
                url: 'http://192.168.1.15:85',
                data: JSON.stringify(data),
                success: function (resp) {
                    changeStateHtml(1);
                },
                error: function (request, status, error) {
                    alert(error);
                }
            });
        }

        function TurnOff() {
            var data = {
                pump: 0
            };

            $.ajax({
                type: 'POST',
                dataType: "text",
                url: 'http://192.168.1.15:85',
                data: JSON.stringify(data),
                success: function (resp) {
                    changeStateHtml(0);
                },
                error: function (request, status, error) {
                    alert(error);
                }
            });

        }

        function changeStateHtml(state) {
            if (state == 1) {
                var html = "<p> pump is on </p>"
            } else {
                var html = "<p> pump is off </p>"
            }
            $('#pumpState').html(html);
        }


    });

</script>